<% show_post ||= false %>

<div class="span0 well text-center" >
  <% if logged_in? %>
    <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post' do %>
      <i class="icon-chevron-up"></i>
    <% end %>
  <% end %>
  <br/>
  <%= pluralize(vote_count(comment), 'vote') %>
  <br/>
  <% if logged_in? %>
    <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post' do %>
      <i class="icon-chevron-down"></i>
    <% end %>
  <% end %>
</div>
<div class="row">
  <div class="span6 well">
    <p>"<%= comment.body %>" <small>on </small><%= link_to( comment.post.title, post_path(comment.post)) if show_post %></p>
    <p><span class="quiet">by </span><%= link_to comment.user.username , user_path(comment.user) %>
      <small><%= format_time(comment.created_at) %></small>
  </div>

</div>
