<%= render 'shared/content_title', title: 'User Profile' %>

<div class="well" >
	<p>Username: <%= @user.username %></p>
</div>


<!-- Rails helpers option -->

<ul class="nav nav-tabs">
  <li class="<%= 'active' if params[:tab].nil? %>">
    <%= link_to "Posts (#{@user.posts.count})", user_path(@user) %>
  </li>
  <li class="<%= 'active' if params[:tab] == 'comments'%>">
    <%= link_to "Comments (#{@user.comments.count})", user_path(@user, tab: 'comments') %>
  </li>
</ul>

<% if params[:tab].nil? %>
  <%= render @user.posts %>
<% elsif params[:tab] == 'comments' %>
  <%= render @user.comments, show_post: true %>
<% end %>